@page
@model WebApp.Pages.AdminMembresiasModel
@{
}


<script src="~/js/pages/adminmembresiascrud.js"></script>

<h1>Membresias</h1>

<table id="tblMembresias">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Rango de boletos</th>
            <th>Porcentaje de comision por boleto</th>
            <th>Precio</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>