@page
@model WebApp.Pages.CreateEventModel
@{
}
<link href="~/css/createevent.css" rel="stylesheet" />
<script src="~/js/pages/createevent.js"></script>
<div class="container-create-event">
    <h2>Create Event</h2>
    <div class="main-container">
        
        <div class="container-1 step" >
            <div class="form-1-container-1">
                <label class="col-form-label mt-4" for="inputDefault">Ingrese el nombre del evento:</label>
                <input type="text" class="form-control" id="txtName">

                <label for="exampleTextarea" class="form-label mt-4">Ingrese la descripcion del evento:</label>
                <textarea class="form-control" id="txtDescription" rows="3"></textarea>

                <h4>Contactos</h4>
                <table id="table-contacts" style="margin-top:20px;">
                    <tr>
                        <th>Nombre</th>
                        <th>Contacto</th>
                    </tr>
                </table>

                <button type="button" id="btnAddContact" class="btn btn-primary btn-sm" style="background-color:deeppink;border-radius:25px">Añadir</button>
                <button type="button" id="btnDeleteContact" class="btn btn-tercery btn-sm" style="background-color:deeppink;border-radius:25px">Eliminar</button>

                <!--Ventana Modal crear contacto-->
                <div class="modal" id="modalContact">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Crear contacto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label class="col-form-label mt-4" for="inputDefault">Ingrese el nombre del contacto:</label>
                                <input type="text" class="form-control" id="txtContactName">
                                <label class="col-form-label mt-4" for="inputDefault">Ingrese el contacto:</label>
                                <input type="text" class="form-control" id="txtContact">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="btnCreateContact">Crear</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="form-1-container-2">
                <label class="col-form-label mt-4" for="inputDefault">Ingrese el eslogan:</label>
                <input type="text" class="form-control" id="txtSlogan">

                <label for="exampleSelect1" class="form-label mt-4">Ingrese la Modalidad:</label>
                <select class="form-select" id="txtModality">
                    <option value="Presencial">Presencial</option>
                    <option value="Virtual">Virtual</option>
                </select>

                <label class="col-form-label mt-4" for="inputDefault">Ingrese la fecha del evento:</label>
                <input type="datetime-local" class="form-control" id="txtEventDate">


                <label for="formFile" class="form-label mt-4">Agregue al menos 3 imagenes</label>
                <div id="container-images-names">
                </div>
                <button type="button" id="btnLoadImages" style="background-color:deeppink;border-radius:25px; width:50px;margin-top:10px;">Subir</button>
            </div>
        </div>

        <div class="container-2 step">
            <div class="form-2-container-1">
                <label class="col-form-label mt-4" for="inputDefault">Ingrese la cantidad de entradas:</label>
                <input type="number" class="form-control" id="txtTotalTickets">

                <table id="table-type-tickets" style="margin-top:20px;">
                    <tr>
                        <th>Tipo de entrada</th>
                        <th>N° de entradas</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <td>General:</td>
                        <td><input type="number" class="form-control" id="txtTicketsGeneral"></td>
                        <td><input type="number" class="form-control" id="txtPriceGeneral"></td>
                    </tr>
                    <tr>
                        <td>Estudiantes:</td>
                        <td><input type="number" class="form-control" id="txtTicketsStudents"></td>
                        <td><input type="number" class="form-control" id="txtPriceStudents"></td>
                    </tr>
                    <tr>
                        <td>Adultos Mayores:</td>
                        <td><input type="number" class="form-control" id="txtTicketsAdults"></td>
                        <td><input type="number" class="form-control" id="txtPriceAdults"></td>
                    </tr>
                </table>
            </div>

            <div class="form-2-container-2">
                <div id="input-information">
                    <label class="col-form-label mt-4" for="inputDefault">Ingrese la información del evento (reglas, restricciones, recomendaciones):</label>
                    <button id="btnEditInformation" type="button" class="btn btn-secondary">Editar</button>
                    <div class="modal" id="infoModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Informacion:</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <textarea class="form-control" style="height:700px;" id="txtInformation" rows="3"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label for="exampleSelect1" class="form-label mt-4" style="margin-top:20px;">Ingrese la Modalidad:</label>
                <select class="form-select" id="stlPayment">
                    <option value="PAY">Paypal</option>
                    <option value="SUN">SUNPE Movil</option>
                    <option value="PS">Ambas</option>
                </select>

                <label for="exampleSelect1" class="form-label mt-4" style="margin-top:20px;">Seleccione una categoria:</label>
                <select class="form-select" id="stlCategory">
                </select>

                <div id="input-free-tickets" style="margin-top:20px;">
                    <label class="col-form-label mt-4" for="inputDefault">Ingrese la cantidad de entradas de cortesia:</label>
                    <input type="number" class="form-control" id="txtFreeTickets">
                </div>
            </div>


        </div>

        <div class="container-3 step">

            <div id="Scenery1">
                <svg width="800" height="800" id="">
                    <g>
                        <rect x="232.3" y="146.4" width="348.6" height="110.5"></rect>
                        <text x="408" y="200" class="escenary-title">Escenario</text>
                    </g>

                    <g>
                        <polygon class="sector" points="517.7,410 501.8,285 314.3,285 299.5,410">
                        </polygon>
                        <text x="408" y="350" class="sector-title">Gramilla</text>
                    </g>

                    <g>
                        <polygon class="sector" points="672.8,567.4 688.8,567.4
      684.2,549.3 697.8,548.1 684.2,499.2 668.3,499.2 663.7,483.3 631.9,483.3 628.5,467.4 612.6,467.4 609.2,454.9 184.7,454.4
      181.9,468.6 167.1,468.6 162.5,484.5 131.9,485.6 127.3,498.1 112.5,498.1 96.6,549.3 111.4,549.3 94.9,606.6 180.7,604.9
      187.5,568.6 206.9,568.6 212.5,532.2 267.1,532.2 259.1,606.1 272.8,606.1 283,524.2 320.5,525.4 318.2,559.5 334.2,559.5
      333,574.3 447.8,575.4 447.8,559.5 479.6,558.3 477.4,527.7 492.1,526.5 487.6,469.7 506.3,469.1 520.5,586.8 534.2,585.6
      527.4,531.1 581.9,531.1 589.9,570.8 574,572 576.2,586.8 679.1,587.3"></polygon>
                        <text x="400" y="520" class="sector-title">Graderia Trasera</text>
                    </g>

                    <g>
                        <polygon class="sector" points="530.2,408.9 512,283.9 587,283.9
			589.3,293 615.4,291.8 640.4,375.9 625.7,375.9 639.3,420.3 595,420.3 591.6,408.9"></polygon>
                        <text x="570" y="350" class="sector-title">Gramilla Derecha</text>
                    </g>

                    <g>
                        <polygon class="sector" points="283.6,408.9 301.8,283.9
      226.8,283.9 224.5,293 198.3,291.8 173.3,375.9 188.1,375.9 174.5,420.3 218.8,420.3 222.2,408.9"></polygon>
                        <text x="240" y="350" class="sector-title">Gramilla Izquierda</text>
                    </g>

                    <g>
                        <polygon class="sector" points="689.9,487.9 733.1,464 722.8,451.5
      744.4,440.1 734.2,427.6 775.1,404.9 766,394.7 755.2,399.2 746.2,390.7 648.4,440.7"></polygon>
                        <text x="120" y="400" transform="rotate(30, 120, 400)" class="sector-title">Izquierda</text>
                    </g>

                    <g>
                        <polygon class="sector" points="117.6,482.8 59.7,449.8 71,438.4
			50.6,425.9 60.2,412.1 40.4,402.1 59.7,383.9 157.4,433.9"></polygon>
                        <text x="670" y="400" transform="rotate(-30, 670, 380)" class="sector-title">Derecha</text>
                    </g>
                </svg>
            </div>

            <div id="Scenery2">
                <svg width="1000" height="800" id="Scene">

                    <rect id="_x31__00000026132714806635866600000007724150655647325103_" x="292.8" y="125.1" class="st18"
                          width="207.4" height="66.1"></rect>
                    <g>
                        <text x="398" y="160" class="sector-title" style="fill: #fff;">Escenario</text>
                    </g>

                    <path class="sector" d="M335.5,200.5c0,0,54,53,123,2l91,84c0,0-60,70-152,71c-4-1-86,3-157-71L335.5,200.5z"></path>
                    <g>
                        <text x="375" y="290" style="fill: #000;">General</text>
                    </g>

                    <path class="sector" d="M397.5,418.7c79.6-0.7,174.5-47,200.4-91L566.6,300c-22.2,29-84.6,80.5-172.1,79.1
		c-83.6-1.3-148.4-52.4-176.5-79.5l-26.5,24.2C229.6,363.1,318.1,419.4,397.5,418.7z"></path>
                    <g>
                        <text x="375" y="405" style="fill: #000;">General</text>
                    </g>

                    <path class="sector" d="M185.4,330.7l-44.2,41.2
			c0,0,14.4,24.7,85.4,67.9l29.8-54.5C256.3,385.2,217.8,369.3,185.4,330.7z"></path>
                    <g>
                        <text x="200" y="400" transform="rotate(35, 230, 340)" style="fill: #000;">Estudiantes</text>
                    </g>

                    <path class="sector" d="M262.5,387.3l-29.8,54.5
			c0,0,41.2,27.8,102.9,42.2l11.3-63.8C346.9,420.2,294.9,406.3,262.5,387.3z"></path>
                    <g>
                        <text x="200" y="400" transform="rotate(20, 150, 580)" style="fill: #000;">Estudiantes</text>
                    </g>

                    <path class="sector" d="M353,422.3l-10.3,63.8
			c0,0,38.1,12.3,109,3.1l-11.3-63.8C440.5,425.4,400.9,434.1,353,422.3z"></path>
                    <g>
                        <text x="360" y="460" transform="rotate(0, 150, 580)" style="fill: #000;">Estudiantes</text>
                    </g>

                    <path class="sector" d="M445.6,423.3l12.3,64.8
			c0,0,63.8-10.3,103.9-40.1L530,390.4C530,390.4,491.4,414.6,445.6,423.3z"></path>
                    <g>
                        <text x="290" y="540" transform="rotate(-20, 150, 0)" style="fill: #000;">Estudiantes</text>
                    </g>

                    <path class="sector" d="M603,332.8c0,0-18.5,28.8-66.9,55.6
			l31.9,57.6c0,0,64.8-41.2,84.4-70L603,332.8z"></path>
                    <g>
                        <text x="465" y="590" transform="rotate(-35, 230, 340)" style="fill: #000;">Estudiantes</text>
                    </g>

                    <path class="sector" d="M138,373.9l-58.6,53.5
			c0,0,49.4,55.6,104.9,87.4l41.2-72C225.5,442.8,156,401.2,138,373.9z"></path>
                    <g>
                        <text x="370" y="360" transform="rotate(35, 150, 0)" style="fill: #000;">Estudiantes</text>
                    </g>

                    <path class="sector" d="M230.6,445.9l-40.1,73
			c0,0,49.4,33.9,129.6,50.4l14.4-81.3C334.5,488.1,271.3,473.2,230.6,445.9z"></path>
                    <g>
                        <text x="395" y="440" transform="rotate(20, 150, 0)" style="fill: #000;">Estudiantes</text>
                    </g>

                    <path class="sector" d="M341.7,491.2l-12.3,79.2
			c0,0,58.6,14.4,135.8,0l-13.4-76.1C451.8,494.3,376.2,503,341.7,491.2z"></path>
                    <g>
                        <text x="360" y="540" transform="rotate(0, 150, 0)" style="fill: #000;">Estudiantes</text>
                    </g>

                    <path class="sector" d="M459.8,492.9l14.6,75.5
			c0,0,66.9-13.4,126.5-51.4l-37-64.8C563.9,452.1,529.9,480.9,459.8,492.9z"></path>
                    <g>
                        <text x="290" y="610" transform="rotate(-20, 150, 0)" style="fill: #000;">Estudiantes</text>
                    </g>

                    <path class="sector" d="M655.5,379.1l54.5,48.4
			c0,0-29.4,40.1-102.5,86.4L569.1,449C569.1,449,631.3,410.4,655.5,379.1z"></path>
                    <g>
                        <text x="260" y="650" transform="rotate(-35, 150, 0)" style="fill: #000;">Estudiantes</text>
                    </g>

                    <path class="sector" d="M791,502.4l-22.5-20.3
			c0,0-24.2,30.3-52.5,50.9c-26,19-70,46-70,46l-29-44c0,0-10.7,6.9-14,9c-50.7,31.9-132.8,57-212,57c-79,0-156.6-29.4-210.9-62.4
			c-1-0.6-2.9-1.8-2.9-1.8L148,581c0,0-44-24-73-51c-16.7-15.6-46.1-49.4-46.1-49.4L7.8,502.9c11.4,20.7,49.5,52.9,93.9,83.2
			c73.4,50,176.6,103.1,296.6,103.1c102,0,211.4-41.8,279.4-88.2C742,557.2,778.1,524.1,791,502.4z"></path>
                    <g>
                        <text x="340" y="650" transform="rotate(0, 150, 0)" style="fill: #000;">Adultos Mayores</text>
                    </g>
                </svg>
            </div>

            <div id="Scenery3">
                <svg width="1000" height="800" id="Scen">
                    <rect x="309.2" y="29.9" class="st1" width="183.1" height="69.9"></rect>
                    <path class="sector" d="M591.1,294.5
			c-3.4-62.1-16.5-130.1-36.8-177.4H252.7c-20.3,47.2-33.4,115.3-36.8,177.4h63.3L294,262l37,15l-7,17.5h169.6L487,278l39-16
			l13.3,32.5H591.1z"></path>
                    <path class="sector" d="M591.6,300.1H541l9,17.9l-38,17l-16.5-34.9
		H322L306,334l-36-16l8-17.9h-62.6C215.1,307,215,314,215,321c0,182.3,84.4,322,188.5,322S592,503.3,592,321
		C592,314,591.9,307,591.6,300.1z M343,512h-30v-30h30V512z M500,512h-30v-30h30V512z"></path>
                    <path class="sector" d="M308.1,626.3l-96.8,84.1
			c0,0,73.3,60.6,198.4,59.6c0,0,109.5,4.9,192.5-73.3l-98.7-73.3c0,0-50.3,34.2-93.8,33.2C367.8,655.6,358,657.6,308.1,626.3z"></path>
                    <path class="sector" d="M151.4,111.6l-76-24.9
			c-12.7,27.3-26.1,66.2-32.1,92.9l85.2,16.6C133.9,173,143.2,133.2,151.4,111.6z"></path>
                    <path class="sector" d="M127.8,198.7l-85.9-15.6
			c-5.2,23.8-14.5,64.1-17,89.1l30.3,2.7l-0.2,20.8l60.5,4C117.9,277,122.8,220.3,127.8,198.7z"></path>
                    <path class="sector" d="M53.2,299.9c-1.2,14-1.2,34.3,0.4,58.7
			l31.1-1.1c-0.9-22-2.2-30.9-0.8-55.7L53.2,299.9z"></path>
                    <path class="sector" d="M86.1,301.2c-1.2,14-1.2,31.7,0.4,56.2
			l31.1-1.1c-0.9-22-2.2-28.4-0.8-53.2L86.1,301.2z"></path>
                    <path class="sector" d="M116.4,362.2l-63.2,2.4l1.3,21.6l-31.7,1.9
			c3.7,26.1,11.8,62.5,18.3,87.2l87-14.2C122.3,439.3,115.4,382.4,116.4,362.2z"></path>
                    <path class="sector" d="M128.3,465l-84.9,15
			c7.7,28.8,14.3,39.5,26.6,66.2l75.8-20.1C136.1,492.7,132.9,488.6,128.3,465z"></path>
                    <path class="sector" d="M71,549c3.2,9.7,16,29.3,20.3,37.7
			c0.5,2.1,12.5,18.7,17.9,23.9l59.2-22.7c-5.6-11.9-14.7-35.7-14.7-35.7c-1.5-3.9-4.9-12.6-8.3-22.7L71,549z"></path>
                    <path class="sector" d="M171,589.5l-59.9,24.4
			c25.1,35.7,44.7,62.1,66.9,78.1l35.2-28.1C199.2,647.5,185.2,622.2,171,589.5z"></path>
                    <path class="sector" d="M189.1,618.7c1.2,7.4,21.5,37.8,27.5,43.4
			l16.9-13.2c-27.3-42.5-11.4-17.8-23.8-39.9L189.1,618.7z"></path>
                    <path class="sector" d="M193.5,560.1
			c16.7,39.8,32.7,65.6,43.8,81.8l46.9-31c-14.8-21.4-31.4-54.9-37.5-72.1C246.2,539,193.5,560.1,193.5,560.1z"></path>
                    <path class="sector" d="M162.5,558c6.1,22.2,14.5,37.6,23.8,55.8
			L207,604c-12.2-24.7-20.1-41.9-23.1-53.7L162.5,558z"></path>
                    <path class="sector" d="M141.8,495.3c4.2,22.6,11.2,38.7,19,57.6
			l21.4-7.9c-10-25.7-16.4-43.4-18.5-55.4L141.8,495.3z"></path>
                    <path class="sector" d="M163.2,466.9c2.3,6,8.7,28.5,14.8,49.6
			c5.6,19.2,12.2,35.9,13.9,39.1l52.4-20.6c-17.3-42.2-22.4-62.5-25.7-79.4L163.2,466.9z"></path>
                    <path class="sector" d="M123.6,397.9c1.3,23,11.3,71.5,16.6,91.3
			l22.2-5.1c-6.7-26.7-11.4-50.9-16.4-89L123.6,397.9z"></path>
                    <path class="sector" d="M151.8,403.1c2.4,19.8,4.6,28.8,11.2,59.4
			l55-10.2c-4.8-22.9-8.6-40.7-10.1-55.8L151.8,403.1z"></path>
                    <path class="sector" d="M169.9,244.1c-3.7,31.7-8.3,89.5-0.9,153.9
			l17.2-2.4c-4.7-37.3-9.8-88-0.8-149.6L169.9,244.1z"></path>
                    <path class="sector" d="M122.9,264.4c-3.7,31.7-7.1,66.7,0.4,131
			l22.2-2.4c-3.5-39.8-3.5-63.9,0.5-126.8L122.9,264.4z"></path>
                    <path class="sector" d="M131.6,200.8c-2.4,13.9-6.2,25.1-8.7,60.9
			l23.4,2.1c0.7-12.9,6.5-46.5,8.8-58.8L131.6,200.8z"></path>
                    <path class="sector" d="M164.6,177.7c-4,19.5-7.3,29.7-12,60.3
			l53.7,4.6c1.7-20.1,5.5-35.3,9.7-52.5L164.6,177.7z"></path>
                    <path class="sector" d="M147.3,139.5c-3.4,13.3-7.1,24.2-14.9,59.1
			l23.9,4.4c1.7-12.5,10.3-45.8,13.6-57.5L147.3,139.5z"></path>
                    <path class="sector" d="M216.8,186.6c9.1-41.4,25.1-73.1,27.3-80
			c-0.3-0.1-0.6-0.3-0.9-0.4l-48.2-19.1c-2,4.3-8.2,20.7-14.8,39.1c-6.9,19.3-12.7,39.3-14.1,47.8L216.8,186.6z"></path>
                    <path class="sector" d="M169.6,78c-4.9,12.9-12.3,24.8-21.5,58.5
			l23.3,5.6c3.1-12.2,15.3-44.4,19.9-55.7L169.6,78z"></path>
                    <path class="sector" d="M591,650.6l41,26.4
			c24.3-27.3,30.3-30.5,57.3-76.6l-57.5-23.1C618.2,601.5,609.9,619,591,650.6z"></path>
                    <path class="sector" d="M587.2,647.9c7-8.4,17.9-27.8,26.2-45.4
			l-22.9-11.4c-4.9,10.2-18.4,34.5-24.4,43.6L587.2,647.9z"></path>
                    <path class="sector" d="M589.8,546.1l-26.9-10.8l0,0
			c-15.1,35.2-23.6,51.5-35.9,72l22.9,15.6c12.3-20.5,15.3-27.5,21.5-38.9S581.9,562.8,589.8,546.1z"></path>
                    <path class="sector" d="M617.1,456.5l-28.4-5.9l0,0
			c-8.7,37.3-14.3,54.9-22.7,77.2l25.3,11.4c8.5-22.4,10.2-29.7,14.4-42.1S612.2,474.4,617.1,456.5z"></path>
                    <path class="sector" d="M633.1,574.2l58.4,23.1
			c13-17.8,27.7-40.8,37.4-63.3l-72.3-21.4C647.6,537.2,643.4,556,633.1,574.2z"></path>
                    <path class="sector" d="M614.5,599.9c5.6-9.4,19.4-37.9,24.7-56.6
			l-25.4-7.3c-3.2,10.9-17.1,43.3-21.5,53.3L614.5,599.9z"></path>
                    <path class="sector" d="M640.8,540c3.9-11.7,16.2-40.8,18.4-59.1
			l-25.9-5.4c-2.3,11.1-14.4,47.3-18.1,57.6L640.8,540z"></path>
                    <path class="sector" d="M657.6,510.1l73.2,21.4
			c11.4-24.6,20.5-41.3,25.9-65.3l-83.5-14.9C668.2,472.1,664.9,490.7,657.6,510.1z"></path>
                    <path class="sector" d="M661,477.2c3.2-12,10.2-38.8,11.3-57.1
			l-26.2-3.8c-1.6,11.2-8,45.1-11.1,55.7L661,477.2z"></path>
                    <path class="sector" d="M632.6,455.3c3.6-17.6,13.1-60.8,13-87.4
			l-46.1-4.2c-1.4,16.4-7.6,66-11,81.5L632.6,455.3z"></path>
                    <path class="sector" d="M673.7,447.8l85.3,14
			c4.7-21.4,11.9-46.2,14.2-68.7l-89.6-8.8C681.5,404.7,678.2,428.4,673.7,447.8z"></path>
                    <path class="sector" d="M673.5,412.8c1.9-12.2,5.9-39.6,5-58
			l-26.4-0.9c-0.4,11.3-3,45.7-4.9,56.5L673.5,412.8z"></path>
                    <path class="sector" d="M686.6,318.3c0.4,21.5-0.5,42.7-2.6,63.4
			l90.5,9.7c2.3-23.8,6-50,5.4-74.7L686.6,318.3z"></path>
                    <path class="sector" d="M645.6,363.9c1.3-17.9,5.2-61.9,1.7-88.4
			l-46.2,1.8c0.7,16.4,1,66.4-0.5,82.2L645.6,363.9z"></path>
                    <path class="sector" d="M678.6,348.5c0.9-12.3,2.7-40,0.3-58.2
			l-26.4,1.2c0.5,11.3,0.7,45.8-0.3,56.7L678.6,348.5z"></path>
                    <path class="sector" d="M686.2,281.9c1,11.5,0.9,23.4,1.2,34.7
			l92.4-1.6c-0.3-12.3-1-26.5-2.1-38.9c-0.9-10.2-2-20.3-3.4-30.3l-90,7.6C685.5,262.4,685.4,272.8,686.2,281.9z"></path>
                    <path class="sector" d="M678.4,283c-0.2-12.4-0.8-40.1-4.8-58
			l-26.2,3.5c1.5,11.2,4.6,45.6,4.6,56.6L678.4,283z"></path>
                    <path class="sector" d="M632.1,180.8c-2.2,0.7-45.2,10.2-45.2,10.2
			c4.2,13.6,10.5,52.3,10.9,56.9c0.8,9.6,1.8,14.6,1.9,24l47.3-1.2C645.3,236.2,634.3,180.1,632.1,180.8z"></path>
                    <path class="sector" d="M683.9,252.7l90-8.6
			c-3.3-23.5-10.7-48.2-16.5-70.5l-84,16.2C678.7,209.6,681,231.8,683.9,252.7z"></path>
                    <path class="sector" d="M672.8,218c-2.2-20.6-6.6-40.7-12.4-58.2
			l-25.7,7c2.6,11,10.1,44,11.1,54.9L672.8,218z"></path>
                    <path class="sector" d="M673.2,187.6l83.2-15.8
			c-6.9-25.9-15.2-42.4-26.2-66.4l-74,21.5C665.1,157,669.1,166.3,673.2,187.6z"></path>
                    <path class="sector" d="M659.3,156.9c-4.6-20.2-19.5-59.9-27.2-76.6
			l-24.7,9.9c10,22.7,23.3,62.8,25.6,73.5L659.3,156.9z"></path>
                    <path class="sector" d="M590.3,96l-29,12.3l0,0
			c13.9,35.7,19.3,53.3,24.9,76.6l29.6-6c-5.6-23.3-8.4-30.3-12-42.8C600.4,123.8,596.6,113.9,590.3,96z"></path>
                </svg>
            </div>


            <div style="display:none">
                <label for="exampleSelect1" class="form-label mt-4">Escenario:</label>
                <select class="form-select" id="sltScenery">
                    <option>Auditorio</option>
                    <option>Parque Viva</option>
                    <option>Estadio Nacional</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container-buttons">
        <div class="button-group">
            <button type="button" class="btn btn-secondary" onclick="goToStep('prev')">Atras</button>
            <button type="button" class="btn btn-secondary" id="btnSiguiente" onclick="goToStep('next')">Siguiente</button>
            <button type="button" class="btn btn-secondary" id="btnEnviar" style="display: none;">Enviar</button>
        </div>
    </div>

    <script>
        let currentStep = 1;

        function goToStep(action) {
            const steps = document.querySelectorAll(".step");
            const btnSiguiente = document.getElementById("btnSiguiente");
            const btnEnviar = document.getElementById("btnEnviar");

            if (action === 'prev') {
                if (currentStep > 1) {
                    steps[currentStep - 1].style.display = "none";
                    currentStep--;
                }
            } else if (action === 'next') {
                if (currentStep < steps.length) {
                    steps[currentStep - 1].style.display = "none";
                    currentStep++;
                }
            }

            steps[currentStep - 1].style.display = "flex";

            if (currentStep === 3) {
                btnSiguiente.style.display = "none";
                btnEnviar.style.display = "block";
            } else {
                btnSiguiente.style.display = "block";
                btnEnviar.style.display = "none";
            }
        }

    </script>

    <script>
        $('#btnEditInformation').on('click', function () {
            $('#infoModal').modal('show');
        });

        $('#btnAddContact').on('click', function () {
            $('#modalContact').modal('show');
        });

    </script>

    <script>
        const selectElement = document.getElementById('sltScenery');
        const scenery1 = document.getElementById('Scenery1');
        const scenery2 = document.getElementById('Scenery2');
        const scenery3 = document.getElementById('Scenery3');

        selectElement.addEventListener('change', function () {
            const selectedValue = selectElement.value;

            scenery1.style.display = 'none';
            scenery2.style.display = 'none';
            scenery3.style.display = 'none';

            switch (selectedValue) {
                case '1':
                    scenery1.style.display = '';
                    break;
                case '2':
                    scenery2.style.display = '';
                    break;
                case '3':
                    scenery3.style.display = '';
                    break;
                default:
                    break;
            }
        });
    </script>
