@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/homepage.css" rel="stylesheet" />
<script src="~/js/pages/homepage.js"></script>
<div style="background-color: #f0f0f0; padding: 10px; text-align: center;">
    <img src="~/imgs/banner-eventos.jpg" alt="Banner de ejemplo" style="max-width: 100%;">
</div>

<div class="container-cards">
</div>
