@page
@model WebApp.Pages.Admin.AdminDashboardModel
@{
}
<div class="m-5">
    <h1>Dashboard del administrador</h1>
</div>

<div class="m-5">
<h2>Ganancias</h2>
    <div class="row justify-content-around mb-4 mt-5">

        <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 20rem;">

            <div class="card-body">
                <h4 class="card-title">GANANCIAS TOTALES</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>

        </div> <!--Ganacias Totales-->
        <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 20rem;">

            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>

        </div> <!--Ganacias Membresias-->
        <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 20rem;">

            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>


        </div> <!--Ganacias Boletos-->
        <div class="row justify-content-around mb-4 mt-5">
            <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 45%;">

                <div class="card-body">

                    <h4 class="card-title">Membresias</h4>
                    <p class="card-text">Aqui se muestra el grafico de ganancias por venta de membresias.</p>

                </div>


            </div>

            <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 45%;">

                <div class="card-body">
                    <h4 class="card-title">Boletos</h4>
                    <p class="card-text">Aqui se muestra el grafico de ganancias por comision.</p>
                </div>


            </div>
        </div> <!--Deberian se graficos-->

    </div>

</div> <!--Ganancias-->

<div class="m-5">
    <h2>Configuraciones</h2>
    <div class="row justify-content-around mb-4 mt-5">

        <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 20rem;">

            <div class="card-body">
                <h4 class="card-title">GANANCIAS TOTALES</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>

        </div> <!--Ganacias Totales-->

        <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 20rem;">

            <div class="card-body">
                <h4 class="card-title">GANANCIAS TOTALES</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>

        </div> <!--Ganacias Totales-->

        <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 20rem;">

            <div class="card-body">
                <h4 class="card-title">GANANCIAS TOTALES</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>

        </div> <!--Ganacias Totales--> 
    
    </div>
</div>





