@page
@model AdminUserCRUDModel
@{
}

<script src="~/js/pages/adminusercrud.js"></script>

<h1>Users List</h1>

<table id="tblUsers">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Birth date</th>
            <th>User code</th>
            <th>phone</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>